 
 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table th.col-Name,
 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table td.col-Name { min-width: 7em; }
 
 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table th.col-Prompt,
 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table td.col-Prompt { min-width: 10em;}

 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table th.col-DefaultValue,
 #Form_ItemEditForm_FlexiForm table.ss-gridfield-table td.col-DefaultValue { max-width: 14em; min-width: 7em;}
 